html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../images/login_bg.jpg) center no-repeat;
    background-size: cover;
}

.login-and-reg-box {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url(../images/login_title.png) center no-repeat;
}

.reg-box {
    display: none;
}

.login-box,
.reg-box {
    padding: 0 30px;
}

.login-box .layui-form-item,
.reg-box .layui-form-item {
    position: relative;
}

.login-box i,
.reg-box i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.login-box input,
.reg-box input {
    padding-left: 32px;
}

.login-box a,
.reg-box a {
    float: right;
    font-size: 12px;
}